.ship {
  text-align: center;
}


.header {
  background-color: #282c34;
  min-height: 7vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 5vmin);
  color: rgb(60, 65, 134);
}

.ship-link {
  color: #61dafb;
}


.ship section {
  margin: 35px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  background-color: grey;
}

.ship section a {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  min-height: 250px;
  color: darkred;
  text-decoration: none;
  font-size: 50px;
  font: bold;
}

body {
  background-color: gray;
}